* {
  margin: 0px 0px 0px 0px;
  box-sizing: border-box;
  padding: 0px 0px 0px 0px;
}

html {
  background-image: url("./images/rpsls-title.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: Helvetica;
}

#title {
  color: rgb(101, 211, 37);
  text-align: center;
}

#result {
  color: rgb(221, 118, 49);
  text-align: center;
}

.choices {
  text-align: center;
  margin-top: 500px;
  padding: 55px;
  outline: none;
}

#rock, #paper, #scissors, #lizard, #spock {
  height: 140px;
  width: 140px;
  background-color: #a7db53;
  border-radius: 50%;
  display: inline-block;
  padding: 30px;
  margin: 20px;
}

#rock {
  background-image: url('images/rock.png');
  background-repeat: no-repeat;
  background-position: center;
}

#paper {
  background-image: url('images/paper.png');
  background-repeat: no-repeat;
  background-position: center;
}

#scissors {
  background-image: url('images/barber-scissors.png');
  background-repeat: no-repeat;
  background-position: center;
}

#lizard {
  background-image: url('images/salamander.png');
  background-repeat: no-repeat;
  background-position: center;
}

#spock {
  background-image: url('images/star-trek-gesture.png');
  background-repeat: no-repeat;
  background-position: center;
}

.user, .computer {
  color: rgb(119, 84, 202);
  padding: 250px 100px 100px 100px;
  font-size: 50px;
}

.user {
  float: left;
}

.computer {
  float: right;
}

#name-0, #name-1 {
  font-size: 40px;
  color: rgb(192, 33, 33);
  text-align: center;
}
