* {
  margin: 0px 0px 0px 0px;
  box-sizing: border-box;
  padding: 0px 0px 0px 0px;
}

html {
  background-image: url("./images/rpsls-title.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: Helvetica;
}

#title {
  color: rgb(101, 211, 37);
  text-align: center;
}

#result {
  color: rgb(206, 41, 91);
  text-align: center;
}

.choices {
  text-align: center;
  margin-top: 370px;
}

#rock, #paper, #scissors, #lizard, #spock {
  height: 140px;
  width: 140px;
  background-color: #a7db53;
  border-radius: 50%;
  display: inline-block;
  padding: 20px 20px 20px 20px;
  margin: 20px 20px 20px 20px;
}

.user, .computer {
  color: rgb(29, 214, 199);
  padding: 100px 100px 100px 100px;
}

.user {
  float: left;
}

.computer {
  float: right;
}

#score-0, #score-1 {
  background-color: #b6cc66;
  color: #fff;
  width: 100%;
  margin: 0 auto;
  padding: 12px;
  text-align: center;
  font-size: 35px;
}

#name-0, #name-1 {
  font-size: 50px;
}
